Input {
    font-size: 16px;
    border-radius: 1px;
    line-height: 1rem;
    border: 1px solid #bbb;
    color: #000000;
    padding: 0 0 0 10px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 25px;
    height: 40px;
    border-radius: 5px;
    outline: 0;
}

.Input:hover {
    border-color: #040405;
}

.Input:focus {
    border: 1px solid #3498db;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}